// Global
$prefix: 'DB-';
$enable-dark-mode: false;
$enable-grid-classes: true;
$enable-cssgrid: true;

// Colors
$cyan: #5c95cd;
$yellow: #fbba00;

$primary: $cyan;
$secondary: #2e343d;

$dark: #16191e;
$light: #f6f5f3;

$border-color: rgba(22, 25, 30, 0.4);

$box-shadow-lg: 0px 3px 20px rgba(0, 0, 0, 0.06);
$card-spacer-x: clamp(1rem, 1.5vw, 1.5rem);

// Media
$grid-breakpoints: (
  xs: 0,
  sm: 30em,
  md: 48em,
  lg: 62em,
  xl: 75em,
  xxl: 87.5em,
);

// Typography
$font-family-sans-serif: 'Raleway', sans-serif;

// Headings
$headings-font-weight: 700;
$headings-line-height: 1.1em;

$h1-font-size: clamp(2.5rem, 12vw, 8rem);
$h2-font-size: clamp(2rem, 6vw, 4rem);
$h3-font-size: clamp(2rem, 6vw, 3rem);
$h4-font-size: 1.75rem;
$h5-font-size: 1.5rem;
$h6-font-size: 1.25rem;

// Paragraphs
$lead-font-size-sm: 0.8125rem;
$lead-font-size: 0.9375rem;
$lead-font-size-lg: 1.0625rem;
$lead-font-size-xl: 1.125rem;
$lead-font-weight: 400;

$display-font-sizes: (
  0: clamp(4.5rem, 20vw, 16.25rem),
  1: clamp(4rem, 16vw, 10rem),
  2: clamp(3.25rem, 14vw, 9.375rem),
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
);

// Buttons
$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1rem;
$input-btn-font-size: 1.0625rem;
$input-btn-line-height: 1.5;

$btn-font-weight: 700;

$nav-link-font-weight: $btn-font-weight;
$nav-link-font-size: $input-btn-font-size;

// Layout

// Container
$container-padding-x: 1.5rem;
$container-max-widths: (
  sm: 60rem + $container-padding-x * 2,
  md: 63.75rem + $container-padding-x * 2,
  lg: 72.25rem + $container-padding-x * 2,
  xl: 75rem + $container-padding-x * 2,
  xxl: 90rem + $container-padding-x * 2,
);
