/******* hero start *******/
.locations-hero {
  background-image: linear-gradient(299.37deg, #000000 -22.18%, rgba(0, 0, 0, 0) 59.01%),
  linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/hero-global-footprint.webp');
  background-size: cover;
  background-position: center;
}

/******* hero end *******/

.locations-decorate-heading {
  font-weight: 800;
  font-size: 150px;
  line-height: 150%;
  color: var(--text-white);
  letter-spacing: 0.2em;
  -webkit-text-stroke: 1px var(--text-border-color);
  z-index: -1;
  overflow: hidden;
}

/******* nav tabs start *******/
.locations .nav-tabs {
  border: none !important;
}

.locations .nav-link {
  text-transform: unset !important;
  border: 1px solid rgba(22, 25, 30, 0.4) !important;
  border-radius: .5rem !important;
  font-weight: 600;
  transition: all linear 300ms;
}

.locations .nav-link:hover {
  opacity: .8;
}

.locations .nav-link.active {
  background-color: #5C95CD !important;
  border-color: transparent !important;
  color: var(--text-white) !important;
}

/******* nav tabs end *******/

/******* tabs start *******/
// FIXME, PLEASE: поправить стили, добавить классы для font size'ов, z-index, box-shadow? :(
.locations-tabs-section {
  z-index: 12;
}

.locations .countries-item {
  border-bottom: 1px solid var(--gray-200);
}

.locations .dropdown-tabs {
  z-index: 100;
}

.locations .dropdown-toggle {
  color: var(--text-white);
  background-color: var(--DB-link-color) !important;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.16);
  border-radius: 1.25rem;
  letter-spacing: 0.3em;
  font-size: 0.8125rem;
  line-height: 1rem;
  border: none;
  min-width: 15rem;
}

.locations .dropdown-menu {
  border: none;
  border-radius: 1.25rem;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.16);
}

.locations .dropdown-menu .dropdown-item {
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 500;
  background-color: var(--text-white);
  color: rgba(92, 149, 205, 1);
}

.locations .dropdown-menu .dropdown-item:hover {
  background-color: rgba(92, 149, 205, 0.1);
  color: rgba(92, 149, 205, 1);
}

.locations .dropdown-menu .dropdown-item.active {
  font-weight: 700;
  background-color: rgba(92, 149, 205, 0.1);
  color: rgba(92, 149, 205, 1);
}

/******* tabs end *******/
