@import '../config.scss';
@import '../core.scss';

/******* hero start *******/
.story-hero__inner {
  gap: 5rem;
}

@media (min-width: 1440px) {
  .story-hero__inner {
    gap: 10rem;
  }
}

.story-hero__title {
  font-size: 8rem;
  font-weight: 600;
  line-height: 1.1;
}

.story-hero__title2 {
  padding-left: 5rem;
}

@media (max-width: 991px) {
  .story-hero__title2 {
    padding-left: 0;
  }
}

/* by figma font size is 17px */
.story-hero__subtitle {
  width: 22.5rem;
}

@media (max-width: 991px) {
  .story-hero__subtitle {
    width: 100%;
  }
}
/******* hero end *******/

/******* story start *******/

/******* story content start *******/
.story__container {
  width: 100%;
  padding-top: 6.75rem;
  position: relative;
}

.story__skip {
  padding: 0 0;
  position: absolute;
  top: 2.25rem;
  right: 3rem;
  background: none;
  color: var(--gray-400);
  border: 1px dashed transparent;
  transition: border 0.2s ease-in-out;
}

.story__skip:hover {
  color: var(--gray-400);
  border-bottom-color: var(--gray-400);
}

.story__content {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  // height: 600px;
  width: auto;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.story__content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.story__content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.story__content-box {
  height: 100%;
  width: auto;
  // max-width: 90rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  /*min-width: 200%;*/
}

.story__box-inner {
  display: flex;
  height: 100%;
  /*border: 5px solid green;*/
}

.story__content-part {
  width: 100vw;
  max-width: 90rem;
  min-height: 43.75rem;
  display: flex;
  justify-content: center;
}

.story__content-block {
  width: 100%;
  max-width: 65rem;
  padding-inline: 2.5rem;
}
/******* story content end *******/

/******* story nav start *******/
.story__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 1.125rem;
  max-width: 720px;
  margin: 20px auto;
  position: relative;
}

.story__nav:after {
  width: 96%;
  height: 1px;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--gray-200);
  transform: translate(-50%, -50%);
  z-index: 0;
}

.story__nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 0.25rem;
  position: relative;
  z-index: 10;
}

.story__nav-title {
  display: block;
  padding: 0.2rem 0.75rem;
  font-size: 0.725rem;
  white-space: nowrap;
  font-weight: 200;
  color: var(--gray-400);
  line-height: 1;
  border-radius: 30px;
  background: transparent;
  transition: 0.2s ease-in-out;
  position: absolute;
  top: 1.3rem;
  left: 50%;
  transform: translateX(-50%);
}

.story__nav-dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--gray-400);
  transition: 0.2s ease-in-out;
}

.story__nav-link.active .story__nav-title {
  font-size: 1rem;
  font-weight: 400;
  background: var(--dark-deep);
  color: var(--white);
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.4);
}

.story__nav-link.active .story__nav-dot {
  width: 1rem;
  height: 1rem;
  background-color: var(--gold-500);
}

.story__nav-link-1 {
  margin-right: 9.375rem;
}

.story__nav-link-2 {
  margin-right: 3.75rem;
}

.story__nav-link-3 {
  margin-right: 9.875rem;
}

.story__nav-link-4 {
  margin-right: 5rem;
}

.story__nav-link-5 {
  margin-right: 9rem;
}
/******* story nav end *******/

/******* story part common start *******/
.story__part-title {
  font-size: map-get($display-font-sizes, 1);
  color: $yellow;
  line-height: 1;
}

.story__part-title--white {
  color: var(--text-white);
  -webkit-text-stroke: 1px var(--text-border-color);
}

.story__part-subtitle {
  font-size: map-get($display-font-sizes, 5);
  color: $dark;
}

.story__part-name {
  font-size: 9.375rem;
  font-weight: 800;
  letter-spacing: 0.15em;
  color: var(--text-white);
  -webkit-text-stroke: 1px var(--text-border-color);
}

[class^='story__part-image'] {
  margin: 0;
  & img {
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
/******* story part common end *******/

/******* story part 1-1 1917 start *******/

.story__part-header-1-1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 40%;
}

.story__part-body-1-1 {
  bottom: 0;
  right: 0;
  width: 60%;
  height: 100%;
}

.story__part-body-inner-1-1 {
  bottom: 0;
  left: 0;
  display: flex;
  gap: 3.75rem;
}

.story__part-image-1-1-3 {
  right: 0;
  top: 5rem;
}

.story__part-name-1-1 {
  top: 10%;
  left: 52%;
  transform: translateX(-50%);
}
/******* story part 1-1 1917 end *******/

/******* story part 1-2 1917 start *******/

.story__content-block-1-2 {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 2.625rem;
}

.story__part-header-1-2 {
  transform: translate(-2.5rem, 0);
}

.story__part-body-1-2 {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  justify-content: space-between;
  gap: 3.75rem;
}

.story__part-text-1-2 {
  width: calc(50% - (3.75rem / 2));
}

.story__part-image-1-2-1 {
  flex: 1 1 0px;
  height: 17.75rem;
}

.story__part-image-1-2-2 {
  flex: 0 0 15.6875rem;
  height: 17.75rem;
}

/******* story part 1-2 1917 end *******/

/******* story part 2-1 1917 start *******/
.story__part-header-2-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5rem;
}

.story__part-subtitle-2-1 {
  max-width: 50%;
}

.story__part-body-2-1 {
  max-width: 50%;
  bottom: 0;
  right: 0;
}

.story__part-name-2-1 {
  bottom: 7rem;
  left: 0;
}
/******* story part 2-1 1917 end *******/

/******* story part 2-2 1931-1936 start *******/
.story__part-header-2-2 {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  width: max-content;
}

.story__part-text-2-2 {
  max-width: 27rem;
}

.story__part-body-2-2 {
  max-width: 50%;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 3.75rem;
}
/******* story part 2-2 1931-1936 end *******/

/******* story part 3-1 1941 start *******/
.story__part-header-3-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 3rem;
}

.story__part-body-3-1 {
  width: 50%;
  bottom: 0;
  right: 0;
}

.story__part-image-3-1-1 {
  width: 100%;
  bottom: 0;
  right: 0;
}

.story__part-name-3-1 {
  top: 50%;
  transform: translate(5rem, -50%);
  font-size: 9.375rem;
  line-height: 1em;
  max-width: 4ch;
}
/******* story part 3-1 1941 end *******/

/******* story part 3-2 1941 start *******/
.story__content-part-3-2 {
  display: flex;
  padding-left: 15rem;
  align-items: stretch;
}

.story__part-header-3-2 {
  max-width: 45%;
  height: 100%;
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.story__part-body-3-2 {
  width: 50%;
  height: 100%;
  bottom: 0;
  right: 0;
}

.story__part-image-3-2-1 {
  width: 16.5rem;
  max-width: 60%;
  top: 10%;
  left: 2%;
}
.story__part-image-3-2-2 {
  width: 16.5rem;
  max-width: 60%;
  left: 0;
  bottom: 0;
}
.story__part-image-3-2-3 {
  width: 22.3125rem;
  max-width: 60%;
  right: 2.5rem;
  bottom: 20%;
}
/******* story part 3-2 1941 end *******/

/******* story part 4-1 1967 start *******/
.story__part-header-4-1 {
  right: 0;
  transform: translate(5rem, 0);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: min-content;
  line-height: 1em;
}

.story__part-body-4-1 {
  width: 100%;
  height: 100%;
  inset: 0;
}

.story__part-image-4-1-1 {
  width: 50%;
  left: 0;
  bottom: 0;
}

.story__part-image-4-1-2 {
  right: 0;
  top: 5rem;
}

.story__part-name-4-1 {
  top: 0;
  left: 49%;
  line-height: 1em;
  max-width: 4ch;
}
/******* story part 4-1 1967 end *******/

/******* story part 4-2 1967 start *******/
.story__part-header-4-2 {
  position: absolute;
  left: 54%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: min-content;
  line-height: 1em;
}

.story__part-text-4-2 {
  max-width: 32rem;
}

.story__part-body-4-2 {
  width: 100%;
  height: 100%;
  inset: 0;
}

.story__part-image-wrp-4-2 {
  display: flex;
  align-items: stretch;
  gap: 3.75rem;
  left: 0;
  bottom: 0;
}

.story__part-image-4-2-3 {
  left: 55%;
  top: 0;
}
/******* story part 4-2 1967 end *******/

/******* story part 5-1 1980 start *******/
.story__part-header-5-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 3rem;
  max-width: 25rem;
}

.story__part-body-5-1 {
  width: 50%;
  display: flex;
  align-items: end;
  gap: 3.75rem;
  bottom: 0;
  right: 0;
}

.story__part-name-5-1 {
  top: 10%;
  transform: translate(10rem, 0);
  font-size: 9.375rem;
  line-height: 1em;
  max-width: 4ch;
}
/******* story part 5-1 1980 end *******/

/******* story part 5-2 1980 start *******/
.story__content-part-5-2 {
  display: flex;
  padding-left: 15rem;
  align-items: stretch;
}

.story__part-header-5-2 {
  max-width: 60%;
  height: 100%;
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.story__part-text-5-2 {
  max-width: 80%;
}

.story__part-body-5-2 {
  height: 100%;
  width: 50%;
  bottom: 0;
  right: 0;
}

.story__part-image-5-2-1 {
  width: 22.5rem;
  max-width: 60%;
  top: 20%;
  left: 2%;
}
.story__part-image-5-2-2 {
  width: 22.5rem;
  max-width: 60%;
  left: 0;
  bottom: 0;
}
.story__part-image-5-2-3 {
  width: 11.6875rem;
  max-width: 40%;
  right: 2.5rem;
  bottom: 20%;
}
/******* story part 5-2 1980 end *******/

/******* story part 6-1 1980 start *******/
.story__content-part-6-1 {
  display: flex;
  padding-left: 15rem;
  align-items: stretch;
}

.story__part-header-6-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
  padding-top: 2rem;
}

.story__part-subtitle-6-1 {
  max-width: 20ch;
}

.story__part-body-6-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.75rem;
  bottom: 0;
  right: 0;
}

.story__part-name-6-1 {
  bottom: 5rem;
  line-height: 1em;
  min-width: 7ch;
}
/******* story part 6-1 1980 end *******/

/******* story part 6-2 1980 start *******/
.story__part-header-6-2 {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.story__part-body-6-2 {
  width: 50%;
  bottom: 0;
  right: 0;
}

.story__part-text-6-2 {
  max-width: 45%;
}
/******* story part 6-2 1980 end *******/

/******* story end *******/

/*!!! will delete !!!*/
// .story__content-box:nth-child(2) {
//   background-color: #b09393;
// }

// .story__content-box:nth-child(4) {
//   background-color: #7f9467;
// }

// .story__content-box:nth-child(5) {
//   background-color: #679490;
// }

// .story__content-box:nth-child(6) {
//   background-color: #7d6794;
// }
/*!!! will delete !!!*/
