.hero {
  height: 100vh;
  background: linear-gradient(51.52deg, #000000 -19.2%, rgba(0, 0, 0, 0) 79.51%), url('../../images/sustainable-\ nnovation\ hero.webp');
  background-size: cover;
}

.hero .h1 .text-nowrap {
  margin-left: auto;
}

.hero-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  min-height: 2.35rem;
}

.hero-active-link {
  position: relative;
}

.hero-active-link::before {
  content: url("../../images/svg/Polygon\ 2.svg");
  position: absolute;
  bottom: -.8rem;
  left: 50%;
  transform: translateX(-50%);
}

.btn-group.dropup {
  display: none;
  max-width: 100vw;
  margin: 0 auto;
}

.dropdown-menu,
.btn-group.dropup button {
  max-width: 17rem;
  border-radius: 1.25rem;
  width: 100%;
}
.btn-group.dropup button {
  letter-spacing: 0.3em;
}


.dropdown-item--active {
  background: rgba(92, 149, 205, 0.1);
  color: #5C95CD;
}

@media screen and (max-width: 991px) {
  .hero .h1 .text-nowrap {
    margin-left: 0;
  }
}


@media screen and (max-width: 480px) {
  .h1 {
    font-size: 2.5rem;
  }
  .hero-nav {
    display: none !important;
  }
  .btn-group.dropup {
    display: flex;
  }
}
