@import 'vars.scss';
/**
   (!) Добавить в html файлы
   <link rel="preconnect" href="https://fonts.googleapis.com" />
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
   <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800&display=swap" rel="stylesheet" />
 */
/*@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300;400;600;700;800&family=Tajawal&display=swap');*/

/******* common *******/

body {
  font-family: 'Raleway', sans-serif;
  font-size: 0.938rem;
  line-height: 1.5em;
  overflow-x: hidden;
}

ul, p, h1, h2, figure, img, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  z-index: 10;
}

/******* common *******/
.nowrap {
  white-space: nowrap;
}

.zi--10 {
  z-index: -10;
}

.zi-0 {
  z-index: 0;
}

.zi-10 {
  z-index: 10;
}

.zi-20 {
  z-index: 20;
}

.zi-30 {
  z-index: 30;
}

.zi-40 {
  z-index: 40;
}

.zi-50 {
  z-index: 50;
}

.zi-60 {
  z-index: 60;
}

.zi-70 {
  z-index: 70;
}

.zi-80 {
  z-index: 80;
}

.zi-80 {
  z-index: 80;
}

.zi-100 {
  z-index: 100;
}

/******* @media 1440 *******/
@media (min-width: 1440px) {
  .container-xxl {
    max-width: 85rem;
    padding: 0;
  }
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding: 0;
}

/******* page-decoration start *******/
.page-decoration {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.vertical-line {
  width: 1px;
  height: 100%;
  background-color: var(--gray-100);
}
/******* page-decoration end *******/

/******* pre-footer start *******/
.pre-footer {
  background-color: var(--pre-footer-color);
}

.pre-footer__container {
  padding: 7.5rem 0 10rem;
  max-width: 71.25rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pre-footer__heading {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.1em;
  letter-spacing: 0.01em;
  color: var(--eerie-black);
  max-width: 50rem;
  margin-bottom: 1.5rem;
}

.pre-footer__paragraph {
  max-width: 50rem;
  margin-bottom: 5rem;
  font-size: 1.125rem;
  color: var(--outer-space);
}

.pre-footer__list {
  display: flex;
  column-gap: 1rem;
  justify-content: space-between;
}

.pre-footer__item {
  max-width: 24.25rem;
  width: 100%;
}

@media (max-width: 1439px) {
  .pre-footer__container {
    padding: 7.5rem 1.5rem 10rem;
  }

  .pre-footer__item img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .pre-footer__list {
    flex-direction: column;
    row-gap: 1rem;
  }

  .pre-footer__item {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .pre-footer__container {
    padding: 3.125rem 1.5rem;
  }

  .pre-footer__heading {
    font-size: 2rem;
    max-width: 18.75rem;
  }

  .pre-footer__paragraph {
    font-size: 0.938rem;
    margin-bottom: 2rem;
  }
}
/******* pre-footer end *******/
