@import 'normalize.css';
@import 'mdb-ui-kit/css/mdb.min.css';
@import 'vars.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@400;700;800&family=Tajawal&display=swap');

/******* common *******/

body {
  font-family: 'Raleway';
  font-size: 0.938rem;
  line-height: 1.5em;
  overflow-x: hidden;
}

ul, p, h1, h2, figure, img, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nowrap {
  white-space: nowrap;
}

section {
  position: relative;
  z-index: 10;
}

/******* @media 1440 *******/

@media (min-width: 1440px) {
  .container-xxl {
    max-width: 85rem;
    padding: 0;
  }
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding: 0;
}

/******* page-decoration start *******/
.page-decoration {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.vertical-line {
  width: 1px;
  height: 100%;
  background-color: var(--gray-100);
}
/******* page-decoration end *******/

/******* pre-footer start *******/

.pre-footer {
  background-color: var(--pre-footer-color);
}

.pre-footer__container {
  padding: 7.5rem 0 10rem;
  max-width: 71.25rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pre-footer__heading {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.1em;
  letter-spacing: 0.01em;
  color: var(--eerie-black);
  max-width: 50rem;
  margin-bottom: 1.5rem;
}

.pre-footer__paragraph {
  max-width: 50rem;
  margin-bottom: 5rem;
  font-size: 1.125rem;
  color: var(--outer-space);
}

.pre-footer__list {
  display: flex;
  column-gap: 1rem;
  justify-content: space-between;
}

.pre-footer__item {
  max-width: 24.25rem;
  width: 100%;
}

@media (max-width: 1439px) {
  .pre-footer__container {
    padding: 7.5rem 1.5rem 10rem;
  }

  .pre-footer__item img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .pre-footer__list {
    flex-direction: column;
    row-gap: 1rem;
  }

  .pre-footer__item {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .pre-footer__container {
    padding: 3.125rem 1.5rem;
  }

  .pre-footer__heading {
    font-size: 2rem;
    max-width: 18.75rem;
  }

  .pre-footer__paragraph {
    font-size: 0.938rem;
    margin-bottom: 2rem;
  }
}

/******* pre-footer end *******/
