@import 'core.css';

/******* hero start *******/
.story-hero__inner {
  gap: 5rem;
}

@media (min-width: 1440px) {
  .story-hero__inner {
    gap: 10rem;
  }
}

.story-hero__title {
  font-size: 8rem;
  font-weight: 600;
  line-height: 1.1;
}

.story-hero__title2 {
  padding-left: 5rem;
}

@media (max-width: 991px) {
  .story-hero__title2 {
    padding-left: 0;
  }
}

/* by figma font size is 17px */
.story-hero__subtitle {
  width: 22.5rem;
}

@media (max-width: 991px) {
  .story-hero__subtitle {
    width: 100%;
  }
}
/******* hero end *******/

/******* story start *******/
/******* story content start *******/
.story__container {
  width: 100%;
}

.story__content {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  height: 600px;
  width: auto;
  /*border: 5px solid red;*/
  margin: 0;
  padding: 0;
}

.story__content-box {
  height: 100%;
  width: auto;
  /*min-width: 200%;*/
}

.story__box-inner {
  display: flex;
  height: 100%;
  /*border: 5px solid green;*/
}

.story__content-box:nth-child(1) {
  background-color: #b2b2b2;
}

.story__content-box:nth-child(2) {
  background-color: #b09393;
}

.story__content-box:nth-child(3) {
  background-color: #948767;
}

.story__content-box:nth-child(4) {
  background-color: #7f9467;
}

.story__content-box:nth-child(5) {
  background-color: #679490;
}

.story__content-box:nth-child(6) {
  background-color: #7d6794;
}

.story__content-part {
  min-width: 100vw;
}
/******* story content end *******/
/******* story nav start *******/
.story__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 1.125rem;
  max-width: 720px;
  margin: 20px auto;
  position: relative;
}

.story__nav:after {
  width: 96%;
  height: 1px;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--gray-200);
  transform: translate(-50%, -50%);
  z-index: 0;
}

.story__nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 0.25rem;
  position: relative;
  z-index: 10;
}

.story__nav-title {
  display: block;
  padding: 0.2rem 0.75rem;
  font-size: 0.725rem;
  white-space: nowrap;
  font-weight: 200;
  color: var(--gray-400);
  line-height: 1;
  border-radius: 30px;
  background: transparent;
  transition: 0.2s ease-in-out;
  position: absolute;
  top: 1.3rem;
  left: 50%;
  transform: translateX(-50%);
}

.story__nav-dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--gray-400);
  transition: 0.2s ease-in-out;
}

.story__nav-link.active .story__nav-title {
  font-size: 1rem;
  font-weight: 400;
  background: var(--dark-deep);
  color: var(--white);
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.4);
}

.story__nav-link.active .story__nav-dot {
  width: 1rem;
  height: 1rem;
  background-color: var(--gold-500);
}

.story__nav-link-1 {
  margin-right: 9.375rem;
}

.story__nav-link-2 {
  margin-right: 3.75rem;
}

.story__nav-link-3 {
  margin-right: 9.875rem;
}

.story__nav-link-4 {
  margin-right: 5rem;
}

.story__nav-link-5 {
  margin-right: 9rem;
}

.story__nav-link-6 {
  /*margin-left: auto;*/
}
/******* story nav end *******/
/******* story end *******/
